

body {
   width: 33%;
}

#res {
   background-color: lightgray;
   border: solid;
   height: 48px;
   font-size: 20px;
}

#btns button {
   width: 25%;
   height: 36px;
   margin: 0px;
   font-size: 18px;
   float: left;
}

.numbers {
   background-color: lightgreen;
   color: brown;
}

.operators {
   background-color: black;
   color: red;
}

.control {
   color: white;
   background-color: darkgreen;
}
