
* {
   margin: 0;
   padding: 0;
}

html {
   font-family: 'Futura', sans-serif;
   overflow-y: hidden;
   overflow-x: hidden;
}

main {
   position: relative;
}

.help {
   left: 0;
   top: 0;
}

.text {
   user-select: none;
   position: absolute;
   padding: 10px;
   color: rgba(0,0,0, 0.65);
   transition: width 0.4s ease-in-out;
}

.stats {
   left: 0;
   bottom: 0;
}


#content {
   max-height: 100vh;
}


svg {
   background-color: #eee;
}

svg line {
   stroke: black;
   stroke-width: 2px;
}
