body {
   font-family: 'San Francisco', sans-serif;
   font-size: large;
   margin: 0;
   padding: 0;
   height: 100vh;
}

#content {
   height: 100%;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-flow: row wrap;
}

.box {
   width: 150px;
   height: 150px;
   display: flex;
   margin: 10px 5px;
   align-items: center;
   justify-content: center;
   transition: background 0.3s;
   background-color: #ebebeb;
}

.box p {
    pointer-events: none;
    margin: auto;
    line-height: 50px;
    text-align: center;
    width: 50px;
    height: 50px;
    user-select: none;
    cursor: default;
}

.held {
   background-color: #bebebe;
}

.potential {
    background-color: #4bbf73;
    opacity: 0.5;
}

.hovered {
   background-color: #4bbf73;
}

.hide {
   opacity: 0;
}

.box:hover {
   background-color: gold;
}
