
html, body {
   font-family: 'San Francisco', 'Helvetica Neue', sans-serif;
   background-color: #333;
   font-size: large;
}

main {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-flow: column wrap;
}

main * {
   color: #ddd;
}

.input, .output {
   width: 500px;
}

.hide {
   display: none;
}

#greeting {
   transition: display 0.5s;
}

p[contenteditable], #greeting {
   width: 50%;
   padding: 20px;
   line-height: 2;
   color: #111;
   background-color: #eee;
}
